/* Color Scheme */

/* Brand
#3185FC; Azure
*/

/* Basics
#FCFCFC; White
#042A2B; Rich Black
*/

/*Accents
#F79256 Atomic Tangerine
#E16F7C Candy Pink
*/

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 20px;
  line-height: 1.4;
  color: #042A2B; /* Rich Black */
}

header {
  color: #FCFCFC; /* White */
  display: flex;
  margin: auto;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
  padding-top: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: #3185FC; /* Azure */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header .content {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: normal;
  font-size: 1.5rem;
}

header .subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}

main {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#map {
  height: 500px;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  header .content {
    width: 50%;
    font-weight: normal;
    font-size: 1.75rem;
  }

  main {
    margin-top: 2rem;
  }
}
